@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "./styles.small.css" screen and (max-width: 576px);
@import "./styles.medium.css" screen and (min-width: 577px) and (max-width: 1024px);
@import "./styles.large.css" screen and (min-width: 1025px);

/* Components Styles */
@import "../components/NavigationBar/style.css";


:root {
  --main-primary-color: #2C2F3A;
  --main-primary-light-color: #AAD0B7;
  --main-secondary-color: #515C6C;
  --main-secondary-light-color: #61CE9E;
  --main-text-color: #e1dfd3;
}

html {
  font-size: 4px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: var(--main-text-color);
  background: var(--main-secondary-color);
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto;
}

#movie-type {
  text-align: center;
}

#movie-list {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

#tracker {
  padding-top: 10rem;
  margin-top: -20%;
}

 

movie-item > img {
    justify-self: center;
}

button {
    padding: 4px;
    font-size: x-large; 
    color:var(--main-text-color);
    border: none;
    padding: 10px;
    min-width: 20px;
    background-color: transparent;
  }
  

/* Small Mobile devices */
@media only screen and (max-width: 420px) {
    html {
      font-size: 4px;
    }
  
    #movie-list {
      grid-template-columns: repeat(1, 1fr);
      width: 100vw;
      padding: 0;
    }
  
    .expanded > div {
      flex-direction: column;
      align-items: center;
    }
  }

/* Mobile devices */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
    html {
      font-size: 4px;
    }
  
    #movie-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .expanded > div {
      flex-direction: column;
      align-items: center;
    }
  }
  
/* Large screens */
@media only screen and (min-width: 1025px) {
    html {
      font-size: 6px;
    }
  
    #movie-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  